@model IEnumerable<QuanLyKhachSan.Areas.Admin.Models.RoomType>

@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section portfolio">
    <br />
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Chọn phòng</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        @if (TempData["Message"] != null)
        {
            <script language='javascript' type="text/javascript">
                        alert("@TempData["Message"]");
            </script>
        }
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 mb-5">
                    <h4>@item.TypeName</h4>
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.TypeName)">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Assets/images/@Html.DisplayFor(modelItem => item.TypeImage)" alt="@Html.DisplayFor(modelItem => item.TypeName)" />
                    </div>
                </div>
                <!-- Specials--><!-- Special 1-->
                <div class="portfolio-modal modal fade" id="@Html.DisplayFor(modelItem => item.TypeName)" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i></span>
                            </button>
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Special - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@Html.DisplayFor(modelItem => item.TypeName)</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <!-- Special - Image--><img class="img-fluid rounded mb-5" src="~/Assets/images/@Html.DisplayFor(modelItem => item.TypeImage)" alt="" /><!-- Special - Text-->
                                            <p class="mb-5">Giá: @Html.DisplayFor(modelItem => item.Price) VNĐ</p>
                                            <p class="mb-5">@Html.DisplayFor(modelItem => item.Description)</p>
                                            <a class="btn btn-primary" href="@Url.Action("Create", "OrderModel", new { id = @Html.DisplayFor(modelItem => item.TypeID) })">Đặt phòng này</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

