@model QuanLyKhachSan.Areas.Admin.Models.StatusRoom

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <br />
    <h2>Thông tin chi tiết trạng thái</h2>

    <div class="form-horizontal">
        <div class="form-group">
            <div class=" col-md-4">
                @Html.ActionLink("Quay lại danh sách", "Index")
            </div>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusColor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusColor)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa thông tin", "Edit", new { id = Model.StatusID }) 
    </p>
</div>