@model QuanLyKhachSan.Areas.Admin.Models.Room

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <br />
    <h2>Xóa phòng</h2>

    <div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.ActionLink("Quay lại danh sách", "Index")
            </div>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RoomType.TypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomType.TypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusRoom.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusRoom.StatusName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoomName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <h3>Bạn có chắc chắn muốn xóa phòng này?</h3>
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
        }
    </div>
</div>
